@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}

:root {
  --black-color: #000;
  --white-color: #fff;
  --red-color: #f00;

  --gray-100-color: #222;
  --gray-200-color: #444;
  --gray-300-color: #666;
  --gray-400-color: #888;
  --gray-500-color: #aaa;
  --gray-600-color: #ccc;
  --gray-700-color: #eee;
  --gray-800-color: #f9f9f9;

  --primary-color: #333;
  --focus-color: #1c62b9;
}

.yt-icon {
  width: 3.4rem;
  height: 3.4rem;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yt-player-icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--white-color);
  cursor: pointer;
}

.yt-logo {
  position: relative;
  width: 9rem;
  height: 2rem;
  .yt-logo-text {
    text-transform: uppercase;
    position: absolute;
    top: -0.6rem;
    right: -1.5rem;
    color: var(--gray-300-color);
  }
  .yt-logo-link {
    img {
      width: 100%;
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: (--white-color);
  height: 5.6rem;
  padding: 0 2rem;

  .navbar-start {
    display: flex;
    align-items: center;
    margin-right: 5rem;
    .navbar-hamburger {
      padding-top: 0.4rem;
      cursor: pointer;
      margin-right: 1.8rem;
    }

    .navbar-logo {
      position: relative;
    }
  }

  .navbar-mid {
    display: flex;
    align-items: center;

    .navbar-search {
      display: flex;
      width: 64rem;
      height: 3.2rem;
      margin-right: 1rem;

      border-radius: 0.5rem;
      .search-input {
        flex-grow: 1;
        font-size: 1.6rem;
        color: var(--gray-100-color);
        padding: 0rem 1.2rem;
        box-shadow: inset 0rem 0.1rem 0.2rem var(--gray-800-color);

        border: 0.1rem solid var(--gray-600-color);
        border-radius: 0.2rem 0 0 0.2rem;

        &:focus {
          outline: none;
          border: 0.1rem solid var(--focus-color);
          width: 100px;
        }
      }
      .search-label {
        width: 6.5rem;
        background-color: var(--gray-800-color);
        fill: var(--gray-300-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 0.1rem solid var(--gray-600-color);
        border-bottom: 0.1rem solid var(--gray-600-color);
        border-right: 0.1rem solid var(--gray-600-color);
        border-radius: 0 0.2rem 0.2rem 0;
      }
    }
    .navbar-mic {
      background: var(--gray-800-color);
    }
  }
  .navbar-end {
    width: 19rem;
    justify-content: space-between;
    display: flex;
    .navbar-user {
      width: 3.2rem;
      height: 3.2rem;
      background: #004c3f;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: var(--white-color);
      font-size: 1.7rem;
      margin-left: 1rem;
    }
  }
}

.aside {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.5s;
  .aside-main {
    position: absolute;
    height: 100%;
    width: 24rem;
    left: -24rem;
    background-color: var(--white-color);
    transition: left 0.5s;
    .main-header {
      height: 5.5rem;
      display: flex;
      align-items: center;
      margin-left: 1.9rem;
      .yt-icon {
        margin-right: 3.5rem;
      }
    }
    .main-content {
      padding: 1.6rem 1.9rem;
      .content-item {
        display: flex;
        align-items: center;
        margin-bottom: 0.6rem;
        .item-icon {
          margin-right: 1.9rem;
        }
        .item-text {
          font-size: 1.4rem;
          letter-spacing: 0.02rem;
        }
      }
    }
  }

  &.active {
    background-color: rgba(0, 0, 0, 0.5);
    .aside-main {
      left: 0;
    }
  }
  &.show {
    display: block;
  }
}

.content {
  height: calc(100vh - 5.6rem);
  background: var(--gray-800-color);
  padding: 2.4rem;
  column-gap: 2.4rem;
  display: flex;
  justify-content: center;
  .content-main {
    .video-wrapper {
      position: relative;
      width: 100%;
      max-width: 128rem;

      .video-stream {
        width: 100%;
      }
      .video-controls {
        position: absolute;
        bottom: 10rem;
        width: 100%;
        padding: 0rem 1rem;
        .progress {
          position: relative;
          width: 100%;
          height: 0.3rem;
          background-color: var(--gray-400-color);
          .progress-bar {
            position: absolute;
            height: 100%;
            background-color: var(--red-color);
          }
        }
        .buttons {
          display: flex;
          fill: var(--white-color);
          .yt-icon {
          }
        }
      }
    }
  }
  .content-right {
    width: 40rem;
    flex-shrink: 0;
  }
}
