@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}

:root {
  --black-color: #000;
  --white-color: #fff;
  --red-color: #f00;
  --dark-red-color: #cc0000;

  --gray-100-color: #222;
  --gray-200-color: #444;
  --gray-300-color: #666;
  --gray-400-color: #888;
  --gray-500-color: #aaa;
  --gray-600-color: #ccc;
  --gray-700-color: #eee;
  --gray-800-color: #f9f9f9;

  --primary-color: #333;
  --focus-color: #1c62b9;
  --blue-color: #065fd4;
}

.yt-icon {
  width: 3.4rem;
  height: 3.4rem;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.25s;
  user-select: none;
  &.active {
    background-color: rgba(128, 128, 128, 0.5);
  }
}

.yt-player-icon {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--white-color);
  cursor: pointer;
}

.yt-logo {
  position: relative;
  width: 9rem;
  height: 2rem;
  .yt-logo-text {
    text-transform: uppercase;
    position: absolute;
    top: -0.6rem;
    right: -1.5rem;
    color: var(--gray-300-color);
  }
  .yt-logo-link {
    img {
      width: 100%;
    }
  }
}

.tooltip-trigger {
  position: relative;

  .tooltip-top,
  .tooltip-bottom {
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    background: rgba(64, 64, 64, 0.7);
    padding: 0.7rem 1.5rem;
    color: var(--white-color);
    font-size: 1.2rem;
    white-space: nowrap;
    font-weight: 400;
    letter-spacing: 0.01rem;
    // background: red;
    opacity: 0;
    animation: tooltip 0.25s forwards;
  }

  .tooltip-top {
    top: -4rem;
  }

  .tooltip-bottom {
    bottom: -4rem;
  }

  @keyframes tooltip {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.98);
  height: 5.6rem;
  padding: 0 2rem;

  .navbar-start {
    display: flex;
    align-items: center;
    margin-right: 5rem;
    .navbar-hamburger {
      padding-top: 0.4rem;
      cursor: pointer;
      margin-right: 1.8rem;
    }

    .navbar-logo {
      position: relative;
    }
  }

  .navbar-mid {
    display: flex;
    align-items: center;

    .navbar-search {
      display: flex;
      width: 64rem;
      height: 3.2rem;
      margin-right: 1rem;

      border-radius: 0.5rem;
      .search-input {
        flex-grow: 1;
        font-size: 1.6rem;
        color: var(--gray-100-color);
        padding: 0rem 1.2rem;
        box-shadow: inset 0rem 0.1rem 0.2rem var(--gray-800-color);

        border: 0.1rem solid var(--gray-600-color);
        border-radius: 0.2rem 0 0 0.2rem;

        &:focus {
          outline: none;
          border: 0.1rem solid var(--focus-color);
          width: 100px;
        }
      }
      .search-label {
        width: 6.5rem;
        background-color: var(--gray-800-color);
        fill: var(--gray-300-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 0.1rem solid var(--gray-600-color);
        border-bottom: 0.1rem solid var(--gray-600-color);
        border-right: 0.1rem solid var(--gray-600-color);
        border-radius: 0 0.2rem 0.2rem 0;
      }
    }
    .navbar-mic {
      background: var(--gray-800-color);
    }
  }
  .navbar-end {
    width: 19rem;
    justify-content: space-between;
    display: flex;
    .navbar-user {
      width: 3.2rem;
      height: 3.2rem;
      background: #004c3f;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: var(--white-color);
      font-size: 1.7rem;
      margin-left: 1rem;
    }
  }
}

.aside {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.25s;
  .aside-main {
    position: absolute;
    height: 100%;
    width: 24rem;
    left: -24rem;
    background-color: var(--white-color);
    transition: left 0.25s;

    .main-header {
      height: 5.5rem;
      display: flex;
      align-items: center;
      margin-left: 1.9rem;
      .yt-icon {
        margin-right: 3.5rem;
      }
    }
    .main-content {
      padding: 1.6rem 0rem; //1.9rem
      height: calc(100% - 5.5rem);
      list-style: none;
      overflow-x: hidden;
      .content-item {
        .item-link {
          display: flex;
          align-items: center;
          margin-bottom: 0.6rem;
          margin-left: 1.9rem;
          text-decoration: none;
          color: var(--black-color);

          .item-icon {
            margin-right: 1.9rem;
          }
          .item-text {
            font-size: 1.4rem;
            letter-spacing: 0.02rem;
          }

          .item-img {
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 50%;
            margin-right: 2.4rem;
            margin-left: 0.5rem;
          }
        }
        &.item-separator {
          width: 100%;
          height: 0.1rem;
          background: var(--gray-700-color);
          margin: 1.5rem 0rem;
        }
        &.item-section {
          margin-left: 2.4rem;
          padding-top: 0.1rem;
          padding-bottom: 1.1rem;
          font-size: 1.4rem;
          text-transform: uppercase;
          letter-spacing: 0.05rem;
          color: var(--gray-300-color);
          font-weight: 500;
        }

        &.item-subscription {
          margin-top: 0.5rem;
          margin-bottom: 1.6rem;
        }
        &.item-more {
          margin-top: -0.5rem;
          margin-bottom: -0.4rem;
        }

        &.item-footer {
          padding-left: 2.4rem;
          padding-right: 1.2rem;

          .footer-links {
            list-style: none;
            margin-top: 1.3rem;
            .footer-item {
              display: inline-block;
              margin-right: 0.8rem;
              margin-bottom: 0.1rem;
              .footer-link {
                font-size: 1.3rem;
                font-weight: 500;
                color: var(--gray-300-color);
                text-decoration: none;
              }
            }
          }

          .footer-copyright {
            font-size: 1.2rem;
            color: var(--gray-500-color);
            margin-top: 2rem;
            letter-spacing: 0.03rem;
          }
        }
      }
    }
    .main-footer {
      background: red;
      width: 1rem;
      height: 1rem;
    }
  }

  &.active {
    background-color: rgba(0, 0, 0, 0.5);
    .aside-main {
      left: 0;
    }
  }
  &.show {
    z-index: 10;
  }
}

.content {
  position: relative;
  top: 5.6rem;

  background: var(--gray-800-color);
  padding: 2.4rem;
  column-gap: 2.4rem;
  display: flex;
  justify-content: center;
  .content-main {
    width: 128rem;
    .main-description {
      margin-top: 1.8rem;
      border-bottom: 0.1rem solid var(--gray-600-color);
      margin-bottom: 1.6rem;
      .description-tags {
        list-style: none;

        .tag-item {
          display: inline-block;
          margin-right: 0.3rem;
          .tag-link {
            font-size: 1.2rem;
            color: var(--blue-color);
            text-decoration: none;
          }
        }
      }

      .description-title {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.6rem;
        margin-bottom: 1rem;
      }

      .description-info {
        display: flex;
        justify-content: space-between;
        .info-left {
          flex-shrink: 1;
          .info-views,
          .info-release {
            font-size: 1.4rem;
            line-height: 2rem;
            letter-spacing: 0.02rem;
            color: var(--gray-300-color);
          }
          .info-views {
            &:after {
              content: "•";
              margin: 0 0.4rem;
            }
          }
        }

        .info-right {
          display: flex;

          .info-likes {
            display: flex;
            padding-bottom: 0.7rem;
            border-bottom: 0.2rem solid black;
          }
          .info-link {
            display: flex;
            &.last-link {
              margin-left: 0.2rem;
              margin-top: 0.2rem;
              margin-right: 0.1rem;
            }

            .info-icon {
              margin-top: -0.5rem;
              margin-right: 0.1rem;
            }

            .info-text {
              margin-top: 0.3rem;
              font-size: 1.4rem;
              letter-spacing: 0.05rem;
              text-transform: uppercase;
              font-weight: 500;
              margin-right: 1.5rem;
            }
          }
        }
      }
    }

    .main-profile {
      display: flex;
      align-items: flex-start;

      column-gap: 1.6rem;
      padding-bottom: 1.5rem;
      border-bottom: 0.1rem solid var(--gray-600-color);
      .profile-img {
        border-radius: 50%;
        width: 4.8rem;
        height: 4.8rem;
      }
      .profile-info {
        padding-top: 0.8rem;

        .info-author {
          font-size: 1.4rem;
          font-weight: 500;
          letter-spacing: 0.025rem;
          margin-bottom: 0.3rem;
          .author-icon {
            display: inline-block;
            width: 1.4rem;
            height: 1.4rem;
            padding: 0;
            fill: var(--gray-300-color);
            margin-left: 0.5rem;
            vertical-align: text-top;
          }
        }

        .info-subscribers {
          color: var(--gray-300-color);
          font-size: 1.2rem;
          letter-spacing: 0.03rem;
          margin-bottom: 2rem;
        }
        .info-description {
          font-size: 1.4rem;
          letter-spacing: 0.02rem;
          line-height: 2rem;
          margin-bottom: 2.8rem;
          a {
            color: var(--focus-color);
            margin-left: 0.4rem;
            text-decoration: none;
          }
        }

        .info-more {
          text-transform: uppercase;
          font-size: 1.3rem;
          line-height: 2rem;
          color: var(--gray-300-color);
          font-weight: 500;
        }
      }
      .profile-actions {
        margin-left: auto;
        margin-right: 0.5rem;
        margin-top: 0.6rem;
        .actions-subscribe {
          background: var(--dark-red-color);
          color: var(--white-color);
          text-transform: uppercase;
          border: none;
          padding: 1rem 1.5rem;
          font-size: 1.4rem;
          font-weight: 500;
          letter-spacing: 0.05rem;
        }
      }
    }

    .video-wrapper {
      position: relative;
      width: 100%;

      .video-stream {
        width: 100%;
      }
      .video-central {
        position: absolute;
        left: 50%;
        top: 50%;
        fill: var(--white-color);
        transform: translate(-50%, -50%);
        .central-icon {
          opacity: 0.6;
          width: 8rem;
          height: 8rem;
          padding: 0;
          background: var(--gray-100-color);
          // transition: all 0.5s;
          animation: central 0.6s;

          @keyframes central {
            from {
              opacity: 0.6;
              width: 8rem;
              height: 8rem;
            }

            to {
              opacity: 0;
              width: 13rem;
              height: 13rem;
            }
          }
        }
      }
      .video-controls {
        position: absolute;
        bottom: 0rem;
        width: 100%;
        padding: 0rem 1rem;
        opacity: 0;
        transition: opacity 0.2s;
        &.active {
          opacity: 1;
        }
        .progress-wrapper {
          width: 100%;
          height: 1.2rem;
          display: flex;
          align-items: center;
          cursor: pointer;
          user-select: none;
          .progress {
            position: relative;
            width: 100%;
            height: 0.3rem;
            background-color: rgba(128, 128, 128, 0.5);
            &.active {
              height: 0.5rem;
              .progress-bar {
                &:before {
                  content: "";
                  position: absolute;
                  top: 50%;
                  right: -0.6rem;
                  width: 1.2rem;
                  height: 1.2rem;
                  transform: translateY(-50%);
                  background: var(--red-color);
                  border-radius: 50%;
                }
              }
            }

            .progress-bar {
              position: absolute;
              height: 100%;
              background-color: var(--red-color);
            }
          }
        }
        .buttons {
          display: flex;
          fill: var(--white-color);
          margin-bottom: 0.5rem;

          .volume-wrapper {
            width: 0rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
            user-select: none;
            overflow: hidden;
            transition: width 0.2s;

            &.active {
              width: 6.4rem !important;
            }

            .volume {
              margin: 0 0.6rem;
              position: relative;
              width: 5.2rem;
              height: 0.3rem;
              background-color: var(--gray-300-color);

              .volume-bar {
                position: relative;
                height: 100%;
                background-color: var(--white-color);
                &:before {
                  content: "";
                  position: absolute;
                  right: 0;
                  top: 50%;
                  transform: translate(50%, -50%);
                  // top: -100%;
                  width: 1.2rem;
                  height: 1.2rem;
                  background-color: var(--white-color);

                  border-radius: 50%;
                }
              }
            }
          }
          .time-current,
          .time-separator,
          .time-duration {
            display: flex;
            align-items: center;
            font-size: 1.3rem;
            color: var(--gray-600-color);
          }
          .time-current {
            margin-left: 1rem;
          }
          .time-separator {
            margin: 0 0.5rem;
          }

          .icons-right {
            display: flex;
            margin-left: auto;
          }
        }
      }
    }
  }
  .content-right {
    width: 40rem;
    flex-shrink: 0;
    .video-item {
      margin-bottom: 0.8rem;
      .item-link {
        display: flex;
        text-decoration: none;
        color: var(--black-color);
        .item-img {
          width: 16.8rem;
          height: 9.4rem;
          margin-right: 0.6rem;
          flex-shrink: 0;
          object-fit: cover;
        }

        .item-desc {
          .desc-title {
            font-size: 1.4rem;
            line-height: 2rem;
            font-weight: 500;
            letter-spacing: 0.05rem;
            margin-bottom: 0.3rem;
          }

          .desc-author {
          }
          .desc-author,
          .desc-views,
          .desc-time {
            line-height: 1.8rem;
            font-size: 1.2rem;

            font-weight: 400;
            letter-spacing: 0.03rem;
            color: var(--gray-300-color);
          }

          .desc-views {
            &:after {
              content: "•";
              margin: 0 0.4rem;
            }
          }
          .desc-time {
          }
        }
      }
    }
  }
}
